<center>
	<h6>Park:<b> <%= name %></b></h6>
	Pokemon:<b> <%= pokemon_name %></b><br>
	Average:<b> <%= pokemon_avg.toLocaleString() %></b><br>
	Count:<b> <%= pokemon_count.toLocaleString() %></b><br>
	<br>
	<small>Last Updated: <b><%= last_updated.toLocaleString() %></b></small><br>
</center>